:root {
    /* color */
    /* --color-red: #F00;
    --color-orange: #E94B28;
    --color-yellow: #EBEA38;
    --color-green: #06CC80;
    --color-blue: #4AA5FE;
    --color-navy: #1371ED;
    --color-purple: #6E469F;
    --color-white: #fff;
    --color-gray: #D9D9D9;
    --color-black: #000; */
    --color-shade01: #fff;
    --color-shade02: #343434;
    --color-shade02-5: rgba(52, 52, 52, 0.05);
    --color-shade02-30: rgba(52, 52, 52, 0.30);
    --color-neutral01: #F4F4F4;
    --color-neutral02: #DEDEDE;
    --color-neutral03: #C9C9C9;
    --color-neutral04: #B3B3B3;
    --color-neutral05: #848484;
    --color-neutral06: #575757;
    --color-primary01: #F86A95;
    --color-primary02: #FCB4CA;
    --color-error01: #E6BFBF;
    --color-error02: #AD2A2A;

    /* font-size */
    --font-xx-large: 34px;
    --font-x-large: 24px;
    --font-large: 22px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-x-small: 12px;

    /* width */
    --pc-width: calc(1920px - 320px);
    --tablet-width: 1024px;
    --mobile-width: 768px;
}